<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Bitcoin: Current on Currency</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <!--Navbar, to be copied to the other sheets as well-->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/"> Bitcoin: Staying Current on Currency </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/news">Bitcoin News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history"> A Brief History </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comparison">How it Compares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about_the_developers">About the Developers</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="title-into" style="margin-top: 3%; margin-left: 10%; margin-right: 10%; color: white; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <h2 style="font-weight: bold; margin-left: 40%;"> The Developers </h2>
        <p style="color: white;">All four of the developers of this application completed a 24 week intensive bootcamp for data analysis and visualization through the University of Pennsylvania. This bootcamp prepared them to work with Python, SQL, Javascript, CSS, Tableau, Plotly
            and several others. This application was submitted as the final project for the course in December of 2020. All the developers would like to recognize their instructor, Ed Brennan and ta, Madison Leopold, to whom a great deal of thanks is
            owed. As well, a huge thank you to all the fuzzy support animals who made it possible to smile at 2am in front of the computer after multiple failed attempts. </p>
    </div>
    <div class="bios" style="margin-top: 3%; margin-left: 12%; margin-right: 12%; color: white; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <div class="bio Alex">
            <div></div>
            <div class=" info col-md-8">
                <h3 style="color: violet;">Alex Schanne</h3>
                <p>
                    <text style="font-weight:bold; color:rgb(33, 252, 204)">Email:</text> alex.schanne@gmail.com</p>
                <p>
                    <text style="font-weight:bold; color:rgb(33, 252, 204)">Phone:</text> 610.889.0692</p>
                <p>
                    <text style="font-weight:bold; color:rgb(33, 252, 204)">Education:</text> University of Pennsylvania: Bachelor of Arts, Pyschology with a Minor in Consumer Behaviors</p>
                <p>
                    <text style="font-weight:bold; color:rgb(33, 252, 204)">Job Experience:</text> Research Assistant for Platt Labs on the Data Management Team</p>
                <p>
                    <text style="font-weight:bold; color:rgb(33, 252, 204)">Location:</text> Philadelphia, PA</p>
                <p> Supported by her three dogs, <text style="color: rgb(255, 255, 146);">Honey,</text> <text style="color: rgb(255, 255, 146);">Pip,</text> and <text style="color: rgb(255, 255, 146);">Piper.</text>
                </p>
                <p> Distracted by her cats, <text style="color: rgb(255, 255, 146);">Miniature Meow</text> and <text style="color: rgb(255, 255, 146);">Allison T. Cat ("Alley Cat").</text>
                </p>
            </div>
        </div>

        <div class="bio Danny">
            <div class="info">
                <div info>
                    <h3 style="color: violet;">Danny Petrella</h3>
                    <p>
                        <text style="font-weight:bold; color:rgb(33, 252, 204)">Email:</text> djpetrella24@gmail.com</p>
                    <p>
                        <text style="font-weight:bold; color:rgb(33, 252, 204)">Phone:</text> 412.605.9793</p>
                    <p>
                        <text style="font-weight:bold; color:rgb(33, 252, 204)">Education:</text> Bethany College: Bachelor of Science, Dual Degree in Economics & Mathematics</p>
                    <p>
                        <text style="font-weight:bold; color:rgb(33, 252, 204)">Job Experience:</text> 4+ years as an Auditor for the PA Department of the Auditor General</p>
                    <p>
                        <text style="font-weight:bold; color:rgb(33, 252, 204)">Location:</text> Pittsburgh, PA</p>
                    <p> Supported by his dog, <text style="color: rgb(255, 255, 146);">Benny.</text>
                    </p>
                </div>
            </div>

            <div class="bio Dave">
                <div info>
                    <div info>
                        <h3 style="color: violet;">Dave Damon</h3>
                        <p>
                            <text style="font-weight:bold; color:rgb(33, 252, 204)">Email:</text> dave@daviddamon.com</p>
                        <p>
                            <text style="font-weight:bold; color:rgb(33, 252, 204)">Phone:</text> 732.690.1069</p>
                        <p>
                            <text style="font-weight:bold; color:rgb(33, 252, 204)">Education:</text> Montana State University: Master of Architecture & Bachelor of Architecture</p>
                        <p>
                            <text style="font-weight:bold; color:rgb(33, 252, 204)">Job Experience:</text> 15+ years experience as a Project Architect / Manager</p>
                        <p>
                            <text style="font-weight:bold; color:rgb(33, 252, 204)">Location:</text> Flemington, NJ</p>
                        </p>
                    </div>
                </div>

                <div class="bio Dylan">
                    <div info>
                        <div info>
                            <h3 style="color: violet;">Dylan Jean</h3>
                            <p>
                                <text style="font-weight:bold; color:rgb(33, 252, 204)">Email:</text> dylanjean@gmail.com</p>
                            <p>
                                <text style="font-weight:bold; color:rgb(33, 252, 204)">Phone:</text> 646.489.6805</p>
                            <p>
                                <text style="font-weight:bold; color:rgb(33, 252, 204)">Education:</text>Georgia State University: Electrical Engineering</p>
                            <p>
                                <text style="font-weight:bold; color:rgb(33, 252, 204)">Job Experience:</text> 2+ years as an Data Analyst Intern at LESEDY</p>
                            <p>
                                <text style="font-weight:bold; color:rgb(33, 252, 204)">Location:</text> Atlanta, GA</p>
                            </p>
                        </div>
                    </div>
                </div>
</body>

<footer class="footer">
    <p class="footer-text">Final Project for UPenn LPS Data Science and Visualization Bootcamp
        <br> <text style="color: rgb(233, 219, 219)">Developers: Alex Schanne, Danny Petrella, Dave Damon, and Dylan Jean </text>
    </p>
</footer>

</html>